<div class="card" style="width: 18rem">
    <img class="card-img-top" src="" alt="Card image cap">

    <div class="card-body">

        <h5 class="card-title">Multer Title</h5>

        <p class="card-text">This is avery important image upload title</p>


        <form class="" action="/upload" method="post" enctype="multipart/form-data">

            <div class="custom-file">
                <input type="file" name="profilepic" class="custom-file-input" id="validatedCustomFile" required>

                <label class="custom-file-label" for="validatedCustomFile">Choose File....</label>
                <p class="red">Error Message will go here</p>
            </div>
            <br>

            <button type="submit" class="btn btn-primary gap">Submit</button>

        </form>
    </div>

    </div>

</div>


